
body {
  background-color: pink;
}

h1 {
  background-color: red;
  display: block;
  margin:auto;
  text-align: center;
  font-size: 100px;
  font-family: 'Pangolin', cursive;
}

img {
  display: block;
    margin: auto;
  }

.aboutus {
    text-align: center;
    width: 100%;
    background-color: pink;
    display: block;
  }

/*.leftmenu {
  background-color: green;
  float: left;
  width: 500px;
  height: 680px;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  margin: 50px;
  display:block;
}

.leftmenubackground {
  background-color: red;
  float: left;
  width: 550px;
  height: 720px;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  margin: 50px;
  display: block;
}

#rightmenu {
  float: right;
  width: 500px;
  height: 680px;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  margin: 50px;
  background-color: blue;
}
p{
  font-family: "Times New Roman", Times, serif;
  color: red;
}

#foot {
  position: fixed;
  display:block;
  margin:auto;
  text-align: left;
}*/*/*/
