#new-store-form {
  margin:auto;
  width: 50%;
}
legend, label, input{
  display: block;
  margin: auto;
  text-align: center;
}
h1 {
  margin-left:25%;
  margin-right: 25%;
  text-align: center;
}
button {
  display: block;
  margin: auto;

}
legend{
  font-family: impact;
}
fieldset{
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: dashed;
  border-width:medium;
}
